<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/merchant.css" th:href="@{/css/merchant.css}" />
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
</head>
<body>

<div class="formwrapper">
    <header>
        <h1>Example Merchant</h1>
        <p>
            Make a test payment with converge.
        </p>
    </header>

    <form action="/" id="paymentForm">
        <section>
            <label for="amount">
                <span class="form-input-label">Amount</span>
                <div class="input-wrapper amount-wrapper">
                    <input id="amount" name="amount" type="tel" min="1" value="5" />
                </div>
            </label>
            <label for="currency-code">
                <span class="form-input-label">Currency</span>
                <div class="form-input-wrapper currency-wrapper">
                    <input id="currency-code" name="currency-code" value="EUR" />
                </div>
            </label>
            <button class="button" type="submit"><span>Purchase</span></button>
        </section>
    </form>

    <div id="paymentFormHolder" style="visibility: hidden;"></div>
</div>

<script>

function sleep(ms) {
  return new Promise(resolve => setTimeout(resolve, ms));
}

async function displayLightbox(merchantAlias, publicKey, sessionId, md, src)
{

    var oldForm = $("#lightboxForm");
    if (oldForm.length > 0)
    {
        // remove old form if it exist to prevent multiple buttons
        oldForm.remove();
    }

    var form = document.createElement("form");
    form.setAttribute("method", "post");
    form.setAttribute("id", "lightboxForm");
    form.setAttribute("action", "/c2/lightbox/c2-lb-3ds-results");

    var hiddenFieldMD = document.createElement("input");
    hiddenFieldMD.setAttribute("type", "hidden");
    hiddenFieldMD.setAttribute("name", "MD");
    hiddenFieldMD.setAttribute("value", md);
    form.appendChild(hiddenFieldMD);

    var script = document.createElement("script");
    script.setAttribute("src", src);
    script.setAttribute("class", "converge-button");
    script.setAttribute("data-merchant-alias", merchantAlias);
    script.setAttribute("data-public-key", publicKey );
    script.setAttribute("data-session-id", sessionId );
    form.appendChild(script);

    var formParent = $("#paymentFormHolder");
    formParent[0].appendChild(form);

    // must click the button which does not initially exist so we must wait for it to exist first.
    do
    {
        var btn = $("button.converge-button")
        if (btn.length > 0)
        {
            btn[0].click();
        }
        else
        {
            await sleep(500);
        }
    }
    while (btn.length == 0);
}

$( "#paymentForm" ).submit(function( event ) {

  // Stop form from submitting normally
  event.preventDefault();

  // Get some values from elements on the page:
  var $form = $( this ),
    amount = $form.find( "#amount" ).val(),
    currencyCode = $form.find( "#currency-code" ).val(),
    url = '/c2/lightbox/c2-lb-3ds-challenge2';

  // Send the data using post
  var posting = $.post( url, { "currency-code": currencyCode, amount: amount } );

  // Put the results in a div
  posting.done(function( data ) {
    displayLightbox(data.merchantAlias, data.publicKey, data.sessionId, data.md, data.src);
  });
});
</script>

</body>
</html>
