<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <form method="POST" action="http://localhost:8080/c2/lightbox">
        <script
                src="https://uat.hpp.converge.eu.elavonaws.com/client/index.js"
                class="converge-button"
                data-merchant-alias="P7pbm2VCXCHCCj6BPTFpRmdC"
                data-public-key="pk_GVYX3tBcHGyj7thpJBMkMGd9"
                data-session-id="rpqqwvk7cgpx4347pvt7mvmc34kh">
        </script>
    </form>
</body>
</html>
