<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <form method="POST" action="https://alpha.convergepay.com/ISAccessControlServerEmulator/Visa.jsp">
        <br/>PaReq:<input type="hidden" name="PaReq" th:value="${pareq}"/>
        <br/>TermUrl:<input type="hidden" name="TermUrl" th:value="${termurl}" size="100"/>
        <br/>MD:<input type="hidden" name="MD" th:value="${md}" size="30"/>
        <br/><input type="submit" value="Submit"/>
    </form>
</body>
</html>
