<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p>Amount: 3.23</p>
    <p>Currency:  EUR</p>
    <form method="POST" action="/c2/legacy/c2-lb-receive-payment-token">
        <script
                th:src="${src}"
                class="converge-button"
                data-merchant-alias="P7pbm2VCXCHCCj6BPTFpRmdC"
                data-public-key="pk_GVYX3tBcHGyj7thpJBMkMGd9"
                th:attrappend="data-session-id=${id}">
        </script>
    </form>
</body>
</html>
